@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
}
<head>
    <style>
        .flex-container{
            display:    flex;
            background-color: gray;
        }

        .flex-container > div {
            background-color: #f1f1f1;
            margin:10px;
            padding: 20px;
            font-size: 30px;
        }
    </style>
</head>
    <body>
        <h1>Rentable Properties</h1>
        <div class="flex-container">
            <div>
                <img src="~/image/house1.png" width="350px" height="250px"/>
                <label>5 yr old House with furnitures included</label>
            <label>200,000 Php</label>
                <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Details</a>
                <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Rent</a>
            </div>
        <div>
            <img src="~/image/house1.png" width="350px" height="250px" />
            <label>5 yr old House with furnitures included</label>
            <label>200,000 Php</label>
            <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Details</a>
            <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Rent</a>
        </div>
        <div>
            <img src="~/image/house1.png" width="350px" height="250px" />
            <label>5 yr old House with furnitures included</label>
            <label>200,000 Php</label>
            <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Details</a>
            <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Rent</a>
        </div>
        </div>
        <h1>Purchasable Properties</h1>
        <div class="flex-container">
        <div>
            <img src="~/image/house2.png" width="350px" height="250px" />
            <label>3 yr old House with Pool included</label>
            <label>500,000 Php</label>
            <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Details</a>
            <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Buy</a>
        </div>
        <div>
            <img src="~/image/house2.png" width="350px" height="250px" />
            <label>3 yr old House with Pool included</label>
            <label>500,000 Php</label>
            <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Details</a>
            <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Buy</a>
        </div>
        <div>
            <img src="~/image/house2.png" width="350px" height="250px" />
            <label>3 yr old House with Pool included</label>
            <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Details</a>
            <a class="btn btn-default btn-outline-dark" asp-action="Detail" asp-area="" asp-controller="Home">Buy</a>
        </div>
        </div>
</body>
